* {
  font-family: 'Lato', sans-serif;
}

.row {
    width: 100%;
    display: flex;
    text-align: center;
}

/*Header*/

.logo {
  width: 100px;
  height: 100px;
}

.col-md-6 {
  text-align: right;
  margin: 5px;
  padding: 5px;
}

h1, h4 {
  font-weight: 300;
}

hr {
    border-top: 5px solid #7d97ad;
}

/*Cover Image*/

.portfolio-cover {
  width: 1000px;
  border: 5px solid black;
  border-radius: 5px;
}

/*Featured Work*/

.col-md-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  color: #7d97ad;
}

.col-md-12 {
  margin: 5px;
  padding: 5px;
  display: block;
}

.work1, .work2, .work3 {
  text-align: center;
  width: 100%;
}

.project {
  height: 350px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}

/*Modals*/

.description {
  padding-top: 20px;
}

/*Footer*/

footer {
  padding-top: 10px;
}

@media screen and (min-width: 701px) and (max-width:1000px) {
  .portfolio_cover {
    display: block;
    margin-right: auto;
    margin-right: auto;
  }

  .featuredwork {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .work1 {
    order: 1;
    width: 50%;
  }
  .work2 {
    order: 2;
    width: 50%;
  }
  .work3 {
    order: 3;
    width: 50%;
  }
}

@media screen and (max-width:700px) {
  .featuredwork {
    display: flex;
    flex-wrap: wrap;
  }
  .work1, .work2, .work3 {
    max-width: 100%;
  }
}
